@media (min-width: 768.1px) {
    *{ border: 1px green solid !important;}
    .zen_cardholder {
        width: 100% !important; height:10em !important;
    }
    .zen_cardimg {
        object-fit: cover !important; width: 100% !important; height: 100% !important;
    }
    .zen_back_mobile{
        display: none !important;

    }
    .zen_back_PC {
        display: block;
        background-color: #e0e0e0 !important;
        border-radius: 1em;
        color: black;
        margin: 1%;
        width: 68%;
        margin-left: 2%;
    }
    .zen_back_PC * {
        display: block !important;
    }
}
.ze1 {
    margin: 10px;
    padding: 10px;
    border: 1px solid grey;
}

.table2 {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 5%;
}

.table1 {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 5%;
    text-align: center;
}

.food * {
    background-color: #00000020;
}

body {
    background: linear-gradient(#ffffff, #fefff5);
}

@keyframes progress {
    0% {
        --percentage: 0;
    }
    100% {
        --percentage: var(--value);
    }
}

@property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}
.col1 {
    /* width: 8%; */
    width: 1.3vw;
}

.col2 {
    /* width: 87%; */
    width: 10vw;
}

.col3 {
    /* width: 5% */
    width: 1vw;
}
.col33 {
    padding: 0 1%;
    width: 3vw;
}
.col10 {
    width: 10%;
    text-align:right;padding-right: 0.5em;
    padding: 0% 2px;
}

.zen_back0 {
    margin: 0 auto 0 auto;padding: 0;
}


.zen_back2 {
    width: 100%;height: 250px;margin: auto;
}

.zen_back3 {
    width: 100%;height: 150px;margin: auto;
}

.zenform1 {
    font-size: 2em;
    line-height: 2em;
}

.zen_calender{
    position: relative;
    top : -1;
    width: 8em;
    font-size: 1.7em;
    height:2em;
    margin: 0;
}
.zen_side_row { 
    margin: 1% auto 0 auto;
    font-size: 1em; 
    text-align: center;
}
.no_margin {
    margin: 0;
    padding: 0;
}
.upload_button_zen{
    font-size:0.8rem !important;
    font-weight:600 !important;
    color:#999c9e !important;
}
.zenbtn1 {
    margin: 3px 0 3px 0; 
    background-color: white;
    width: 100%;
    border-radius: 2px;
    height: 2em;

}
.zenbtn1:hover {
    background-color: rgb(255, 219, 179);
    background-color: rgb(211, 211, 211);
    color: rgb(0, 0, 0);
}
.row_with_all{
    height: 90%;
    
}

.card-body {
    text-align: center !important;
}
.progress-zen {
    border-radius: 10px;
    box-shadow: inset 0 0.5em 0.5em rgba(0,0,0,0.05);
    height: 1.2em;
    background-color: white;
    margin: 4px;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    width: 90%;
}
.prg-tan {
    margin: 0;
    background-color: #2cff95;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 20px;
    height: 1.2em;
    top: 0;
    /* -webkit-transition:width 2s, background-color 2s, -webkit-transform 2s;
    transition:width 2s, background-color 2s, transform 2s;
    transition-property: margin-right; */
}



.zen_moreinfo {
    width: 4vw;margin: 5vw auto auto auto;text-align: center;
}
.zen_moreinfo img {
    width: 100%;
    object-fit: contain; border-radius: 50%;
}