/* 채은 : pc화면 =================*/
@media (min-width: 769px) {
    /* *{ border: 1px green solid !important;} */
    .zen_cardholder {
        width: 100% !important; height:10em !important;
    }
    .zen_cardimg {
        object-fit: cover !important; width: 100% !important; height: 7em !important;
    }
    #zen-cont {
        max-width: 79rem;
        height: 70vh;
    }
    .card-body {
        padding: 2%;
        font-size: 0.9rem !important;
    }
    .zen-row-11 {
        /* min-height: 80vh; */
    }
    .zen-row-12 {
        height: 74vh;
        min-height: 589px;
    }
    .zen-back-12 {
        height: 25% !important;
    }
    /* 모바일 사이드바 숨김 */
    .zen_back_mobile{
        display: none;

    }
    .zen_back_PC {
        display: inline-block;
        background-color: #e0e0e0 !important;
        border-radius: 1em;
        color: black;
        margin: 1%;
        padding: 4% 20px;
        width: 68%;
        margin-left: 2%;
    }
    .zen_back_main {
        display: inline-block;
        width: 70%;
        height: 100%;
        background-color: #e0e0e0 !important;
        border-radius: 1em;
        color: black;
        margin: 1%;
        padding: 2% 3%;
    }
    .card {
        height : 100%;
    }
    .zenbtn1 {
        margin: 3px 0 3px 0; 
        width: 100%;
        height: 12%;
    }
    .zenbtn83{
        min-height: 33px;
    }
    .zen-main-div {
        height: 80%;
    }
    .zen-td-1{
        width: 60%;
    }
    .zen-td-2{
        width:35%;
        text-align: right;
    }

    .width-full {
        width: 100%;
        margin:0 auto 0 auto;
    }
    .zen-nutri-table {
        width: 32.4%;
        white-space: nowrap;
        margin: 0 1.3% 0 0;
        clear: both;
    }
    .zen_more {
        width: 10%;
    }
    .zen_moreinfo {
        /* width: 4vw; */
        margin: 5vw auto auto auto;text-align: center;
    }
    .zen_moreinfo img {
        width: 50px;
        object-fit: contain; border-radius: 50%;
    }
    .zen_col_1_4{
        width: 30%;
        height: 100%;
    }
    .zen_back2 {
        width: 100%;height: 25vh;
        margin: 45px auto 10px auto;
    }
    .z_side_photo{
        height: 30%;
    }
    .zen_side_profile{
        /* padding-right: 5%; */
        /* padding-left: 5%; */
        width:10em; height:10em; object-fit:cover;border-radius: 50%;
        max-width: 149px;
        max-height: 149px;
    }
    .zen_seek_mobile {
        display: none;
    }
        /* ==index_null 적용부분 ============*/
    .zen-null-background {
        height: 25em;text-align : center;
    }
    .zen-null-main {
        width: 50%;
        height: 10em;
        margin: 12% auto auto auto !important;
        font-size: 1.5rem;
    }
    .zen_back3 {
        font-size: 1rem;
        margin: 18px auto 11px auto;
        height: 150px;
    }
    .progress {
        font-size: 0.9rem !important;
    }
    .ment {
        margin-bottom: 11px;
    }


    /* ==index_null 적용 끝 ============*/

}

/* ============미디어쿼리 종료============= */
.ze1 {
    margin: 10px;
    padding: 10px;
    border: 1px solid grey;
    width: 100%;
}

.table2 {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 5%;
}

.table1 {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 5%;
    text-align: center;
}

.food * {
    background-color: #00000020;
}

body {
    background: linear-gradient(#ffffff, #fefff5);
    height: 90vh;
    font-size: 1.1rem;
}

@keyframes progress {
    0% {
        --percentage: 0;
    }
    100% {
        --percentage: var(--value);
    }
}

.col1 {
    /* width: 8%; */
    width: 1.3vw;
}

.col2 {
    /* width: 87%; */
    width: 10vw;
}

.col3 {
    /* width: 5% */
    width: 1vw;
}


.zen_back0 {
    margin: 0 auto 0 auto;padding: 0;
}

.zen_back3 {
    width: 100%;
    padding: 0 13px;
}
.zenform1 {
    font-size: 2.2em;
    line-height: 2em;
}

.zen_calender{
    position: relative;
    top : -1;
    width: 8em;
    font-size: 1.7em;
    height:2em;
    margin: 0;
}
.zen_side_row { 
    text-align: center;
}
.no_margin {
    margin: 0;
    padding: 0;
}
.upload_button_zen{
    font-size:1rem !important;
    font-weight:600 !important;
    color:#999c9e !important;
    /* height: 3.7em; */

}
.zenbtn1 {
    background-color: white;
    border-radius: 8px;
    border: 1px grey solid;
}
.zenbtn1:hover {
    background-color: rgb(255, 219, 179);
    color: rgb(0, 0, 0);
}
.row_with_all{
    height: 90%;
    
}

.card-body {
    text-align: center !important;
    line-height: 0.7rem;
    font-size: 0.2rem;
}
.card-text {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.progress-zen {
    border-radius: 10px;
    box-shadow: inset 0 0.5em 0.5em rgba(0,0,0,0.05);
    height: 1.2em;
    background-color: white;
    margin: 4px;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    width: 90%;
}
.prg-tan {
    margin: 0;
    background-color: #2cff95;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 20px;
    height: 1.2em;
    top: 0;

}



