
/* login_fail.html */
/* 아이디와 비밀번호 placeholder */
@media screen and (min-width:1000px){ 
    input[type="text"] {
        margin: auto 0em auto -5em; width: 130%; height: 4rem; font-size:1.1rem; 

    }
}

@media screen and (min-width:1000px){ 
    input[type="password"] {
        margin: auto 0em auto -5em; width: 130%; height: 4rem; font-size:1.1rem; 
       
    }
}
@media screen and (max-width:760px){ 
    input[type="text"] {
        margin: auto 0em auto -7em; width: 200%; height: 4rem; font-size:1.1rem; text-align: center;
        
    }
}

@media screen and (max-width:760px){ 
    input[type="password"] {
        margin: auto 0em auto -7em; width: 200%; height: 4rem; font-size:1.1rem; text-align: center;
        
        
    }
}



/* 로그인 버튼 */
@media screen and (min-width:1000px){ 
    button[type="submit"] {
        
        margin: auto 0em auto 0em; width: 50%; font-size:1.3rem; text-align: center;
        
        
    }
}

/* 로그인 버튼 */
@media screen and (max-width:760px){ 
    button[type="submit"] {
        
        margin: auto 0em auto 0em; width: 80%; font-size:1.1rem; text-align: center;
        
        
    }
}

/* 회원가입 */
/* @media screen and (max-width:760px){ 
    #register {
        margin: auto 0em auto 0em; width:200%; font-size:1.1rem; text-align: center;
    }
} */ 

