
 /* 로그인 상태 유지하기
@media screen and (max-width:760px){ 
    .checkbox {        
        margin: auto 0em auto -1em;  font-size:1.1rem; text-align: center;
                
    }
}

로그인 버튼
@media screen and (max-width:760px){ 
    button[type="submit"] {
        
        margin: auto 0em auto -1em; width: 300%; font-size:1.1rem; text-align: center;
        
        
    }
}

@media screen and (min-width:1000px){
    body {
    margin: 0;
}
.wrapper{
    /* line-height: 500%;
    vertical-align: middle;  */
    /* height: 100; 
    min-height: 100%;
    padding-bottom: 500; 

}


footer {
	 height: 500; 내용물에 따라 알맞는 값 설정 
	 position: relative; 
    transform: translateY(0%);
}
}




@media screen and (max-width:760px){
    body {
    margin: 0;
}
.wrapper{
    /* line-height: 500%;
    vertical-align: middle;  
    height: 100;
    min-height: 100%;
    padding-bottom: 500;

}

footer {
	height: 500; 내용물에 따라 알맞는 값 설정
	position: relative;
    transform: translateY(25%);
}
}*/

.centered {
    display: table;
    width: 80%;
    margin-left: auto; 
    margin-right: auto;
    /* vertical-align: middle; */
    /* margin-top: 0.5%; */

}
.container_donn {
    /* display: table; */
    /* margin-left: 25%; 
    margin-right: 25%; */
    margin-top: 120px;

  }



@media screen and (min-width:760px){
    .container_donn{
        width: 70%;
    }

}
@media screen and (min-width:1250px){
    .container_donn{
        width: 60%;
    }

  }


@media screen and (max-width:760px){
    .container_donn{
        width: 100%
    }

}

/* 비밀번호 클릭하기 전 CSS

비밀번호 클릭했을때CSS
.inputpasswd[type=password] :focus {
    font-family: 'NanumSquare', sans-serif !important; 
} */

.inputpasswd ::placeholder[type=password] {
    font-family: 'NanumSquare', sans-serif !important; 
}

.inputpasswd:focus[type=password] {
    font-family: 'NanumSquare', sans-serif !important; 
}

/* 변경전 CSS */
/* input[type=password] { 
    font-family: 'NanumSquare', sans-serif; 
} */

/* footer{ position: ;
    left:0px; 
    bottom: 0px;
    height:60px; 
    width: 100%;}  */

  