/* 채은 */
/* 모바일환경================ */
@media (max-width: 769px) {
    body {
        height: 100vh;

    }
    * {
    margin: 0 !important;
    padding: 0 !important;
    /* border: 1px peru solid; */

    }
    .z-mb-form1{
        padding-left: 11px !important;
    }
    #zen-cont {
        height: 100vh;
    }
 
    .zen_cardholder {
        width: 100% !important;
        height: 10em;
    }
    .zen_cardimg {
        object-fit: cover !important; width: 100% !important; height: 100% !important;
    }
    .card {
        width: 95%;
        margin: 1em auto 0em auto !important;
    }
    .card-body{
        width: 100%;
    }
    .zen_back3{
        height: 183px;
    }
    .z-mb-form1 {
        width: 100%;
    }
    .zen_back_main {
        /* width: 70%; */
        background-color: #ffffff !important;
        border-radius: 1em;
        color: black;
        margin: 1%;
    }
    .zen-row-11 {
        height: 82%;
    }
    .zen_col_1_4 {
        width: 100%;
    }
    .zen_back2 {
        width: 100%;
        height: fit-content;
        margin-bottom: 17px !important;
        clear:both;
        position: relative;
        top: 7%;
    }
    .zen-td-1{
        width: 60%;
        padding-left:2px ;
    }
    .noblock {
        height: 0 !important;
    }
    .zen-td-2{
        width:35%;
        text-align: right;
    }
    .zen-main-div {
        padding-top: 13px !important;
    }

    .zen_seek_pc {
        display: none;
    }
    /* 본문 종료=========== */
    /* 사이드바============== */
    /* PC sidebar숨김 */
        .zen_back_PC {
            display: none !important;
        }
    /* 모바일 사이드바 */
    .zen_back_mobile * {
        display: block;
        background-color: #ffffff;
        /* border-radius: 1em; */
        color: black;
        margin: 1%;
        width: 100%;
    }
    .all-hidden {
        display: none;
    }
    .ment {
        background-color: white !important;
    }
    .upload_button_zen {
        margin: auto 0 auto 0 !important;
        text-align: center !important;
        width: 90%;
    }
    .zen-top-photo {
        display:inline-block;
        width: 40% !important;
        float: left;

    }
    .zen_top-buttons {
        display:inline-block;
        width: 60%;
        float: right;
        padding: 15px !important;
    }
    .zen-side-footer {
        width: 100%;
        margin: 1rem;
        border: 1px grey solid;

    }
    .zenbtn1 {
        background-color: white !important;
        border-radius: 2px;
    
    }
    .zenbtn1:hover {
        background-color: rgb(255, 219, 179) !important;
        color: rgb(0, 0, 0);
    }
    .zen-top-photo {
        height: 10vh;
        margin-bottom: 20px;
        padding: 1.2em 0 !important;
    }
    .zen_side_profile{
        /* padding-right: 5%; */
        /* padding-left: 5%; */
        width:4em; height:4em; object-fit:cover;border-radius: 50%;
        margin: 0 auto 0 auto !important;
    }

    /* 플로팅버튼 구역 */
    .going-top {
        float: right;
        position: fixed;
        bottom: 10em;
        width: 4em;
        height: 4em;
        right: 1em;
        background-color: white;
        border-radius: 50%;
        border: rgb(255, 219, 179);
        
    }
    .zen-floating-camera {
        float: right;
        position: fixed;
        bottom: 6em;
        width: 4em;
        height: 4em;
        right: 1em;
        background-color: rgb(255, 219, 179);
        border-radius: 50%;

    }
    
    /* ==index_null 적용부분 ============*/
    .zen-null-background-mobile {
        height: 36vh;text-align : center;
    }
    .zen-null-main {
        width: 100%;
        height: 10em;
        margin: 20vh auto 20vh auto !important;
    }


    
        /* ==index_null 적용 끝 ============*/

}