/* 모바일환경================ */
@media (max-width: 769px) {
    body {
        height: fit-content;
    }
    * {
    margin: 0 !important;
    padding: 0 !important;
    border: 1px peru solid;

    }
    .zen_cardholder {
        width: 100% !important;
        height: 10em;
    }
    .zen_cardimg {
        object-fit: cover !important; width: 100% !important; height: 100% !important;
    }
    .card {
        width: 95%;
        margin: 1em auto 0em auto !important;
    }
    .card-body{
        width: 100%;
    }
    .z-mb-form1 {
        width: 100%;
    }
    .zen_back_main {
        /* width: 70%; */
        background-color: #ffffff !important;
        border-radius: 1em;
        color: black;
        margin: 1%;
    }
    .zen_col_1_4 {
        width: 100%;
    }
    .zen_back2 {
        width: 100%;margin: auto;
    }
    
    /* 본문 종료=========== */
    /* 사이드바============== */
    /* PC sidebar숨김 */
        .zen_back_PC {
            display: none !important;
        }
    /* 모바일 사이드바 */
    .zen_back_mobile * {
        display: block !important;
        background-color: #e0e0e0 !important;
        border-radius: 1em;
        color: black;
        margin: 1%;
        width: 100%;
        margin-left: 2%;
    }
    .zen-top-photo {
        display:inline-block;
        width: 20%;
        float: left;
        margin: 5rem;
    }
    .zen_top-buttons {
        display:inline-block;
        width: 70%;
        float: right;
        margin: 5rem;
        padding: 5px;
    }
    .zen-side-footer {
        width: 100%;
        margin: 1rem;
        border: 1px grey solid;

    }
    .zenbtn1 {
        margin: 5px auto 5px auto; 
        width: 95%;
        height: 2em;
    }

    /* 더보기버트 구역 */
    .zen_moreinfo {
        width: 4vw;margin: 5vw auto auto auto;text-align: center;
    }
    .zen_moreinfo img {
        width: 50px;
        object-fit: contain; border-radius: 50%;
    }

}
