/* 모바일환경================ */
@media (max-width: 768px) {
    * {
    margin: 0 !important;
    padding: 0 !important;
    border: 1px peru solid;

    }
    .zen_cardholder {
        width: 100% !important;
        height: 10em;
    }
    .zen_cardimg {
        object-fit: cover !important; width: 100% !important; height: 100% !important;
    }
    .card {
        width: 400%;
        margin: 1em auto 0em auto !important;
    }
    .card-body{
        width: 100%;
    }
    .z-mb-form1 {
        width: 100%;
    }
    .zen_back_main {
        /* width: 70%; */
        background-color: #e0e0e0 !important;
        border-radius: 1em;
        color: black;
        margin: 1%;
    }
    
    /* 본문 종료=========== */
    /* 사이드바============== */
    /* PC sidebar숨김 */
        .zen_back_PC {
            display: none !important;
        }
    /* 모바일 사이드바 */
    .zen_back_mobile * {
        display: block !important;
        background-color: #e0e0e0 !important;
        border-radius: 1em;
        color: black;
        margin: 1%;
        width: 100%;
        margin-left: 2%;
    }
    .zen_side_row {
        width: 15%;
    }
    .zen_side_right {
        width: 50%;
           
    }
}
