{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <style>
            *{
                border: 1px solid red;
                } 
        </style>
    </head>

    <body>


        <div class="wrapper">
            <h1 class="h3 mb-3 fw-normal pragmatic_logo" style="color:black; font-size: 5em;">AI FooPo</h1>
            
            <!-- 아이디와 비밀번호 -->
            <div class="row mb-3">

                <div class="row-50 mb-3 id " >
                    <input type="text" name="user_id" placeholder="   ID를 입력하세요" onfocus="this.placeholder=''" onblur="this.placeholder='   ID를 입력하세요.'">
                </div>

                
                <div class="pw">
                    <input type="password" name="password" placeholder="   비밀번호를 입력하세요" onfocus="this.placeholder=''" onblur="this.placeholder='   비밀번호를 입력하세요'" >
                </div>

            </div>


            <!-- 로그인 상태 유지와 버튼 -->
            <div class="row">

                <div class="keeplogin">
                <input type="checkbox" value="remember-me">로그인 상태 유지하기</label>
                </div>

                <div class="loginbutton">
                    <button class="btn btn-lg btn-dark btn-outline-light" type="submit">로그인</button>
                </div>

            </div>

            <!-- 회원가입 권유와 회원가입 -->
            <div class="row">
                <div class="noregister" >
                    아직 계정이 없으신가요? 
                </div>

                <div class="goregister">
                    <a href="" class="btn btn-lignt btn-outline-secondary">회원가입하기</a>
                </div>

            </div>


        </div>

        
        
    </body>
</html>
