{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="/static/css/index.css"> -->
        <link rel="stylesheet" href="/static/css/login.css">
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>    

        <title>Document</title>

        <style>
            *{
                border: 1px solid red;
                }

            footer{
             float: auto; padding-top: 5px;;
             position: relative;
             
                       
            } 

            /* footer {
                float: left;
                position: relative;
                left: 50%;
            } */

                
        </style>
    </head>

    <body>
        <div class="container_donn centered">
    
       
          <h1 class="h3 mb-3 fw-normal pragmatic_logo centered text-center" style="color:black; font-size: 3.5em;">AI FooPo</h1>
          
              
            
             <!-- 아이디와 비밀번호  -->
            <div class="row">
              <form action="{% url 'login:logining' %}" method="POST">
                {% csrf_token %}
                
                <div class="w-75 mb-3 centered" id="userlogin">
                    <input class="form-control form-control-lg text-center"  type="text" name="user_id" 
                        placeholder="ID를 입력하세요" onfocus="this.placeholder=''" onblur="this.placeholder='ID를 입력하세요.'">
                </div>

                <div class="w-75 mb-3 centered">
                    <input class="form-control form-control-lg text-center" type="password" name="password" 
                        placeholder="비밀번호를 입력하세요" onfocus="this.placeholder=''" onblur="this.placeholder='비밀번호를 입력하세요'" >
                </div>
              
            </div>
                 


             <!-- 로그인 상태 유지와 버튼  -->
            <div class="row">

                <div class="w-75 mb-3 centered" style="text-align: center;">
                    <label style="text-align: center;"><input class=" " type="checkbox"  value="remember-me">로그인 상태 유지하기</label>
                </div>
 
                <div class="w-75 mb-3 centered" style="text-align: center;">
                    <button class="btn btn-lg btn-dark btn-outline-light w-100" type="submit">로그인</button> 

                </div>
              </form>
            </div>

            <div class="row">

                <!-- 구글 아이디로 로그인 -->
                {% load socialaccount %}
                <div class="row">
                    <a role="button" class="btn btn-outline-dark btn-block btn-lg" href="{%provider_login_url 'google' %}">
                        구글 계정으로 로그인하기
                    </a>
                </div>
                <div class="g-signin2 w-75 mb-3 centered" data-onsuccess="onSignIn" data-theme="dark"></div>
                <script>
                function onSignIn(googleUser) {
                    // Useful data for your client-side scripts:
                    var profile = googleUser.getBasicProfile();
                    // console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                    // console.log('Full Name: ' + profile.getName());
                    // console.log('Given Name: ' + profile.getGivenName());
                    // console.log('Family Name: ' + profile.getFamilyName());
                    // console.log("Image URL: " + profile.getImageUrl());
                    // console.log("Email: " + profile.getEmail());
            
                    // The ID token you need to pass to your backend:
                    var id_token = googleUser.getAuthResponse().id_token;
                    // console.log("ID Token: " + id_token);
                }
                </script>
            </div>
            <!-- 회원가입 권유와 회원가입  -->
            <div class="row">

                <div class="w-75 mb-3 centered" style="text-align: center;" >
                    아직 계정이 없으신가요? 
                </div>

                <div class="w-75 mb-3 centered" style="text-align: center;">
                    <a href="/lg/register" class="btn btn-lignt btn-outline-secondary w-100">회원가입하기</a>
                </div>
            </div>
        </div>

        
    </body>
   {% include 'footer.html' %} 
</html> 
{% endblock %}
