{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- <link rel="stylesheet" href="/static/css/index.css"> -->
        <link rel="stylesheet" href="/static/css/login.css">

        <title>Document</title>

        <style>
            /* *{
                border: 1px solid red;
                }  */

                
        </style>
    </head>

    <body>
                  
      
        <div class="container_donn centered">
                           
             
          <h1 class="h3 mb-3 fw-normal pragmatic_logo centered text-center" style="color: black; font-size: 3.5em;">AI FooPo</h1>              
            
             <!-- 아이디와 비밀번호  -->
            <div class="row">

              <form action="{% url 'login:logining' %}" method="POST">
                <div class=" alert alert-success w-75 h-25 mb-4 centered text-center">
                   회원가입에 성공했습니다! 로그인 해주세요.
                  </div>
                {% csrf_token %}

                
                <div class="w-75 mb-3 centered">
                    <input class="form-control form-control-lg text-center" type="text" name="user_id" 
                        placeholder="ID를 입력하세요" onfocus="this.placeholder=''" onblur="this.placeholder='ID를 입력하세요.'">
                </div>

                <div class="w-75 mb-3 centered">
                    <input class="inputpasswd form-control form-control-lg text-center" type="password" name="password" 
                        placeholder="비밀번호를 입력하세요" onfocus="this.placeholder=''" onblur="this.placeholder='비밀번호를 입력하세요'" >
                </div>
              
            </div>
                 


             <!-- 로그인 상태 유지와 버튼  -->
            <div class="row">

                <div class="w-75 mb-3 centered" style="text-align: center;">
                    <label style="text-align: center;"><input class=" " type="checkbox"  value="remember-me">로그인 상태 유지하기</label>
                </div>
 
                <div class="w-75 mb-3 centered" style="text-align: center;">
                    <button class="btn btn-lg btn-dark btn-outline-light w-100" type="submit">로그인</button> 

                </div>
              </form>
            </div>

            <!-- 회원가입 권유와 회원가입  -->
            <div class="row">

                <div class="w-75 mb-3 centered" style="text-align: center;" >
                    아직 계정이 없으신가요? 
                </div>

                <div class="w-75 mb-3 centered" style="text-align: center;">
                    <a href="/lg/register" class="btn btn-lignt btn-outline-secondary w-100">회원가입하기</a>
                </div>

            </div>

        </div>

        
    </body>
    {% include 'footer.html' %}
</html> 
{% endblock %}
