<!-- <link rel="stylesheet" href="/static/css/login.css"> -->

    <footer>
        <div class="pragmatic_footer">
            <hr>

            <div class="pragmatic_footer_button">
                <a style="color:black; text-decoration-line:none; font-size:100;" href="/m/tutorial"><span>프로젝트 소개</span></a> |
                <span>제휴문의</span> |
                <span>서비스 소개</span> |
                <a style="color:black; text-decoration-line:none;" href="/m/teampage"><span>About us</span></a>
            </div>

            <div style="margin-top: 0rem; font-size:120;">
                <a  id="footer_logo" class="footer_pragmatic_logo" style="font-size: 120;" href="/m/{{idx}}/{{date}}">AI Food Photo</a>
            </div>

        </div>
    </footer>