{% load static %}

<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-dark bg-dark" style="padding: 5px 0 5px 1rem;">
            <!-- 상단바 왼쪽 버튼 및 사이트버튼 ================-->
            <a class="pragmatic_logo" style="font-size:2rem;" href="/m/ain/{{date}}">AI Food Photo</a>
            <!-- 로그인 hello======================== -->
            <div class="d-flex align-items-center link-dark text-decoration-none" style="color:white; margin: 0 1% 0 auto;">
                <strong>(정보없음)</strong> 님 &nbsp;
<!--                 {% if member_no == None %} -->
<!--                 {% else %} -->
<!--                 <strong>{{ idx }}</strong> 님 &nbsp; -->
<!--                 {% endif %} -->
                <!-- <img src="/static/picture/moreinfo.png" alt="" width="40" height="40" class="rounded-circle me-2"> -->
            </div>
            <!-- 오른쪽 햄버거버튼============ -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <div class="navbar-toggler-icon"></div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- nav 요소 들어오는 곳 -->
<!--                    <nav class="shift">-->
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item active" style=" margin:1.5rem 0.5rem 0.5rem 0.2rem;"><a style="color:white; text-decoration-line:none; font-size:1rem;" href="/m">다른아이디 로그인하기</a></li>
                            <li class="nav-item" style=" margin:0.4rem 0.5rem 0.5rem 0.2rem;"><a style="color:white; text-decoration-line:none; font-size:1rem;" href="/m/ain/mypage">나의 피드보기</a></li>

<!--                    </nav>-->
                        </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
