{% extends 'base.html' %}

{% block content %}
<!-- 최초작업 : 덕현 
    반응형 CSS 적용 : 채은 - 8 -->

<link rel="stylesheet" href="/static/css/your_photo.css" />
<link rel="stylesheet" href="/static/css/index.css" />
<script src="/static/js/index.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style> 
        /* *{
            border: 1px solid red;
        } */
    </style>

</head>
<body>
<!--	HEADER NAV BAR		-->
{% include 'nav.html' %}
    <div class="container-fluid zen-container-81" style="">
        <!-- 상단바 ============================ -->
        <div class="row" style="margin: 0;padding: 0;"></div>
        <div class="row">
            <div class="col-md-4 ml-auto ar-auto zen-row-81">
                <img src="/media/{{k_hc.uploadedFile}}" class="zen-img-81"/>
            </div>
            
            <!-- 화면 반 나누기 -->
            <div class="col-md-8 ">
                <div class="row d-flex flex-column h-100">
                    <!-- ============폼 시작================ -->
                    <form action="/ph/f_uploading" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row">
                            <!-- 연도 월일 식사 종류 선택 -->
                            <div class="zen-row-83" style="">
                                <input name="date" type="date" id="currentDate" class="form-control"/>
                            
                                <script>
                                document.getElementById('currentDate').value = new Date().toISOString().substring(0, 10);;
                                </script>

                                <br>
                                <select name="time" class="form-select" aria-label="Default select example">
                                    <option value="아침">아침</option>
                                    <option value="점심">점심</option>
                                    <option value="저녁">저녁</option>
                                    <option value="기타" selected>기타</option>
                                </select>
                            </div>

                            <!-- 사진 찍은 음식 저장 -->
                            <div class="zen-row-82">
                                사진 인식 완료! 결과는 직접 수정 가능합니다
                                <table class="food">
                                    <tr>
                                        <th style="width: 20%">NO.</th>
                                        <th style="width: 50%">음식이름</th>
                                        <th style="width: 30%">중량</th>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <input type="text" name="ai_1" value="김치볶음밥" class ="zen-box81"/>
                                        </td>
                                        <td>
                                            <input type="text" name="ai_g1" value="230" class ="zen-box82"/>g
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        
                        </div>
                        <!-- 아래 위로 공간 나누기 -->

                        <div class="row">
                            <div class="zen-row-84">
                                <button type="button" class="zen-btn-82" onclick="newfood()">직접 메뉴 추가하기</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="zen-row-84" id="jikil" style="display: none;">

                                <!-- 부족한 음식 입력 -->
                                <br>
                                <div>
                                    <table class="zen-table-81" style="display: inline-table;margin: 5px;">
                                        <tr>
                                                <th>NO</td>
                                                <th>음식 이름</td>
                                                <th>중량(g)</td>
                                                <th></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td><input type="text" name="sl_1" class="zen-food-name"></td>
                                            <td><input type="number" name="sl_g1" class="zen-food-g" >g</td>
                                            <td><button type="button" class="zen-btn-81" onclick="addfood('nu2')">추가</button></td>
                                        </tr>
                                    </table>
                                    <table class="zen-table-81" id="nu2">
                                        <tr>
                                                <td>2</td>  
                                                <td><input type="text" name="sl_2" class="zen-food-name"></td>
                                                <td><input type="number" name="sl_g2" class="zen-food-g">g</td>
                                                <td><button type="button" class="zen-btn-81" onclick="addfood('nu3')">추가</button></td>
                                        </tr>
                                    </table>
                                    <table class="zen-table-81" id="nu3">
                                        <tr>
                                            <td>3</td>
                                            <td><input type="text" name="sl_3" class="zen-food-name"></td>
                                            <td><input type="number" name="sl_g3" class="zen-food-g">g</td>
                                            <td><button type="button" class="zen-btn-81" onclick="addfood('nu4')">추가</button></td>
                                        </tr>
                                    </table>
                                    <table class="zen-table-81" id="nu4">
                                        <tr>
                                            <td>4</td>
                                            <td><input type="text" name="sl_4" class="zen-food-name"></td>
                                            <td><input type="number" name="sl_g4" class="zen-food-g">g</td>
                                            <td>-</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- 다 작성하고 제출하기 -->
                        <div class="row">
                            <div class="col-md-12 h-100">
                                <footer style="text-align:center;padding:5px;">
                                    <input name='file_location' type="hidden" value="{{k_hc.uploadedFile}}">
                                    <input type="hidden" value="{{idx}}" name="idx"/>
                                    <input type="submit" value="작성완료" class="btn zen-btn-81"/>
                                </footer>
                            </div>
                        </div>  
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!--	FOOTER		-->
    {% include 'footer.html' %}
</body>
{% endblock %}