<div class="col-2 zen_seek_pc">
    <div class="zen_moreinfo">
        <a href="#"><img src="/static/picture/moreinfo.png" ></a>
    </div>
</div>
<div class="zen_seek_mobile going-top">
    <a href="#top">
        <img src="/static/picture/goingtop.png" style="object-fit:contain ;width: 100%;"/>
    </a>
</div>

<div class="zen_seek_mobile">
    <form action="{% url 'analysis_photo:f_fu' %}" id="form_to_upload" class="no_margin" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file" class="zen-floating-camera">
            <img src="/static/picture/camera.png" style="object-fit:contain ;width: 100%;"/>
        </label>
        <input type="file" name="i_fu" onchange="gosubmit()" class="all-hidden form-control" id="file" style="display:none">
        <input type="hidden" name="idx" value="{{idx}}" />
    </form>
</footer>