{% extends 'base.html' %}
{% block content %}
<!-- 05.11 헤드에 추가할 내용은 여기 쓰세요-->
<!--<style>-->
<!--*{-->
<!--        border: 1px solid red;-->
<!--    }-->
<!--    </style>-->
<!-- CHART JS CDN LINK -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<!--차트 js -->
</head>

<body>
<!--	HEADER NAV BAR		-->
{% include 'nav.html' %}
<!--	본문 CONTENTS		-->
	<div class="container">
		<div class="row profile">
<!--			사이드바-->
			<div class="col-md-3">
				<div style="padding:1rem 1rem; margin:1rem 0 ; background-color:#e0e0e0; border-radius:5%; ">
					{% include 'myprofile_sidebar.html' %}
				</div>
			</div>
<!--			사이드바 마무리-->
				<!--	컨텐츠 들어가는 칸 col-md-8 -->
			<div class="col-md-9">
<!--			회원정보 텍스트-->
					<div style="height:auto; margin-top:1rem;">
						<strong style="font-size:2rem;">고경준님의 건강 정보입니다.</strong>
					</div>
<!--				그래프 컨텐트-->
					<div class="row" style="padding-left:1rem; padding-right:1rem;">
<!--						그래프 메뉴바 -->

<!--							첫번째 차트 들어가는 div-->
						<ul class="nav nav-tabs korea_graph_tab">
							<li class="nav-item">
								<a class="nav-link">메뉴1</a>
							</li>
							<li class="nav-item">
								<a class="nav-link">메뉴2</a>
							</li>
						</ul>
<!--						class="tab-pane fade in show active"-->
						<div class="tab-pane fade in show active col-md-4" style="height:20rem;">
							<canvas id='chartone'></canvas>
						</div>
							<div class="col-md-4" style="height:20rem;">
							<canvas id='charttwo'></canvas>
						</div>
							<div class="col-md-4" style="height:20rem;">
							<canvas id='chartthree'></canvas>
						</div>
						</div>
<!--						차트가 끝나면서 하고싶었던 얘기하고싶어서요-->
						<p>
							<span>
								내소신발언한마디
							</span>
						</p>

<!--			한끼 식사비율-->
					<div style="height:2rem;">당신의 한끼 식사비율은</div>
<!--			부족한 영양소 멘트-->
				<div class='row' style="margin:0 1rem 0 1rem; height:auto; text-align:center;">
							<strong style="font-size:1.5rem;">당신은 채소류 섭취가더 필요하네요</strong>
					<p>싱싱한 채소 섭취가 건강에 좋다는 건 누구나 아는 사실이지만
						바쁜 일상 속에서 골고루 챙겨 먹기란 쉽지 않은 일이다.
						하지만 육류나 인스턴트식품의 섭취 비율은 높은 반면
						채소 섭취의 비율이 적어지게 되면 각종 질병에 노출되기 쉽다.</p>
				</div>
<!--			추천음식 정보 -->
				<div class='row' style="text-align:center;">
					<div style="margin:0 auto 0 auto;">
						<div style="display:inline-block; margin:1rem 2rem 1rem 1rem; width:15rem; height:auto; border:3px solid black;">
						<figure>
							<figcaption>추천음식 1</figcaption>
							<img style="width:10rem; height:10rem; object-fit:cover;" src="/static/picture/jjun.jpg" alt="receltly_photo1">
						</figure>
					</div>
						<div style="display:inline-block; margin:1rem 2rem 1rem 1rem; width:15rem; height:auto; border:3px solid black;">
						<figure>
							<figcaption>추천음식 1</figcaption>
							<img style="width:10rem; height:10rem; object-fit:cover;" src="/static/picture/jjun.jpg" alt="receltly_photo1">
						</figure>
					</div>
						<div style="display:inline-block; margin:1rem 2rem 1rem 1rem; width:15rem; height:auto; border:3px solid black;">
						<figure>
							<figcaption>추천음식 1</figcaption>
							<img style="width:10rem; height:10rem; object-fit:cover;" src="/static/picture/jjun.jpg" alt="receltly_photo1">
						</figure>
					</div>
					</div>
				</div>
<!--		컨텐츠바 마무리-->
		</div>
		<pre>


			

		</pre>
    {% include 'footer.html' %}
<!--chart 변수-->
			<!-- const config = {-->
<!--        type:'bar',-->
<!--        data:{-->
<!--            datasets:[{-->
<!--                data:{{daily_kcal|safe}},-->
<!--                backgoundColor:[-->
<!--                    'red','orange','blue','yellow','green'-->
<!--                ],-->
<!--                label:'Label'-->
<!--            }],-->
<!--            labels: {{labels|safe}}-->
<!--        },-->
<!--        options:{-->
<!--            scales:{-->
<!--                responsive:true,-->
<!--                y:{-->
<!--                    beginAtZero:true-->
<!--                }-->
<!--            }-->
<!--        },-->
<!--    };-->

<!--	window.onload = function() {-->
<!--        const bar-chart = document.getElementById('bar-chart').getContext('2d');-->
<!--        window.myBar = new Chart(bar-chart, config);-->
<!--    };-->
<script>
	let chartone = document.getElementById('chartone').getContext('2d');
	let charttwo = document.getElementById('charttwo').getContext('2d');
	let chartthree = document.getElementById('chartthree').getContext('2d');

	let barChart = new Chart(chartone, {
		type : 'bar',
		data : {
			labels : ['아침', '점심', '저녁'],
			datasets : [{
				label : '총 먹은 열량',
				data : [
					100,
					200,
					100
				],
				backgroundColor:[
					'red',
					'black',
					'green']
			}]
		},
		options : {
			plugins : {
				title : {
					display : true,
					text : '권장 섭취량',
					fontSize : 16,
					fontColor : 'red',
					position:'bottom'
				}
			}
		}
	})

	let barCharttwo = new Chart(charttwo, {
		type : 'line',
		data : {
			labels : ['탄수화물', '단백질', '지방'],
			datasets : [{
				label : '영양분 비율',
				data : [
					300,
					100,
					200
				]
			}]
		},
		options : {
			plugins : {
				title : {
					display : true,
					text : '권장 섭취량',
					fontSize : 16,
					fontColor : 'red',
					position:'bottom'
				},
				layout : {
					padding: {
						left : 10,
						right : 10,
						top: 40,
						bottom : 0
					}
				}
			}
		}
	})
	let barChartthree = new Chart (chartthree, {
		type : 'bar',
		data : {
			labels : {{labels|safe}},
            datasets : [{
            	label : 'Label',
            	data : {{kcal_data|safe}},
                backgoundColor : [
                    'red','orange','blue','yellow','green'
                ],
            }],
        },
        options : {
            scales : {
                responsive : true,
                y : {
                    beginAtZero:true
                }
            }
        }
    });
</script>

			<!--		let barChartthree = new Chart(chartthree, {-->
<!--		type : 'pie',-->
<!--		data : {-->
<!--			labels : ['비타민', '무기질', '콜레스테롤'],-->
<!--			datasets : [{-->
<!--				label : '부 영양소 비율',-->
<!--				data : [-->
<!--					300,-->
<!--					100,-->
<!--					200-->
<!--				],-->
<!--				backgroundColor:[-->
<!--					'skyblue',-->
<!--					'orange',-->
<!--					'mint']-->
<!--			}]-->
<!--		},-->
<!--		options : {-->
<!--			plugins : {-->
<!--				title : {-->
<!--					display : true,-->
<!--					text : '나의 영양소',-->
<!--					fontSize : 16,-->
<!--					fontColor : 'red',-->
<!--					position:'bottom'-->
<!--				},-->
<!--				layout : {-->
<!--					padding: {-->
<!--						left : 10,-->
<!--						right : 10,-->
<!--						top: 40,-->
<!--						bottom : 0-->
<!--					}-->
<!--				}-->
<!--			}-->
<!--		}-->
<!--	})-->
</body>
{% endblock %}