{% extends 'base.html' %}
{% block content %}
<!-- 05.11 헤드에 추가할 내용은 여기 쓰세요-->
<!--*{-->
<!--        border: 1px solid red;-->
<!--    }-->
<!--    -->
<style>
/* Style the tab buttons */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 2rem;
  text-align: center;
}

/* Style each tab content individually */
#London {background-color:#64D6FF;}
#Paris {background-color:#73EAA8;}

    </style>
<!-- CHART JS CDN LINK -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<!--차트 js -->
</head>

<body>
<!--	HEADER NAV BAR		-->
{% include 'nav.html' %}
<!--	본문 CONTENTS		-->
	<div class="container">
		<div class="row profile">
<!--	프로필 사이드바 col-md-3 -->
			<div class="col-md-3">
				<div style="padding:1rem 1rem; margin:1rem 0 ; background-color:#e0e0e0; border-radius:5%; ">
					{% include 'myprofile_sidebar.html' %}
				</div>
			</div>
<!--	건강정보 컨텐츠 col-md-8 -->
			<div class="col-md-9">
<!--			회원정보 텍스트-->
				<div class="row">
					<div style="height:auto; margin-top:1rem;">
						<strong style="font-size:2rem;">{{name}}님의 건강 정보입니다.</strong>
					</div>
				</div>

<!--				그래프 컨텐트 메뉴바 -->
				<div class="row">
					<div id="London" class="tabcontent">
						<h1>하루그래프</h1>
						<p style="margin-bottom:1rem;">하룻동안 먹은 식사량의 탄단지 비율을 알려주어요</p>
					</div>

					<div id="Paris" class="tabcontent">
						<h1>주간/월간 그래프</h1>
						<p style="margin-bottom:1rem;">주간, 월간 먹은 식사량의 나트륨, 칼로리량을 알려주어요</p>
					</div>
					<button class="tablink" onclick="openCity('London', this, '#64D6FF')" id="defaultOpen">일간 그래프</button>
					<button class="tablink" onclick="openCity('Paris', this, '#73EAA8')">주간/월간 그래프</button>
				</div>
<!--				그래프 컨텐트 차트 -->
				<div class="row" style="padding: 1rem;">
					<div class="tab-pane fade in show active col-md-4" style="height:10rem;">
						<canvas id='chartone'></canvas>
					</div>
					<div class="col-md-4" style="height:10rem;">
							<canvas id='chartfour'></canvas>
						</div>
					<div class="col-md-4" style="height:10rem;">
						<canvas id='chartthree'></canvas>
					</div>
				</div>

<!--			한끼 식사비율-->
					<div style="height:2rem; margin-top:0; margin-bottom:1rem; ">
						<h4>당신의 식사중 탄단지의 비율은?</h4>
<!--						<img src="/static/picture/bar.png">-->
					</div>
<!--			부족한 영양소 멘트-->
				<div class='row' style="border-radius:20px; background-color:#E0E0E0; padding:1rem; margin:0 1rem 0 1rem; height:auto; text-align:center;">
							<strong style="font-size:1.5rem; margin-bottom:1rem;">당신은 채소류 섭취가더 필요하네요</strong>
					<p>싱싱한 채소 섭취가 건강에 좋다는 건 누구나 아는 사실이지만
						바쁜 일상 속에서 골고루 챙겨 먹기란 쉽지 않은 일이다.
						하지만 육류나 인스턴트식품의 섭취 비율은 높은 반면
						채소 섭취의 비율이 적어지게 되면 각종 질병에 노출되기 쉽다.</p>
				</div>
<!--			추천음식 정보 -->
				<div class='row' style="text-align:center;">
					<div style="margin:1rem; auto 0 auto;">
						<div style="border-radius:20px; display:inline-block; margin:1rem 2rem 1rem 1rem; width:15rem; height:auto; border:3px solid black;">
						<figure >
							<figcaption style="margin:0.3rem auto;">추천음식 1</figcaption>
							<img style="border-radius:20px;  width:10rem; height:10rem; object-fit:cover;" src="/static/picture/food1.jpg" alt="receltly_photo1">
						</figure>
					</div>
						<div style="border-radius:20px; display:inline-block; margin:1rem 2rem 1rem 1rem; width:15rem; height:auto; border:3px solid black;">
						<figure>
							<figcaption style="margin:0.3rem auto;">추천음식 2</figcaption>
							<img style="border-radius:20px; width:10rem; height:10rem; object-fit:cover;" src="/static/picture/food2.jpg" alt="receltly_photo1">
						</figure>
					</div>
						<div style="border-radius:20px; display:inline-block; margin:1rem 2rem 1rem 1rem; width:15rem; height:auto; border:3px solid black;">
						<figure>
							<figcaption style="margin:0.3rem auto;">추천음식 3</figcaption>
							<img style="border-radius:20px; width:10rem; height:10rem; object-fit:cover;" src="/static/picture/food3.jpg" alt="receltly_photo1">
						</figure>
					</div>
					</div>
				</div>
<!--		컨텐츠바 마무리-->
		</div>
		<pre>
		</pre>
    {% include 'footer.html' %}

		</pre>
    {% include 'footer.html' %}
<!-- 차트 컨텐츠 JS-->
<script>
	let chartone = document.getElementById('chartone').getContext('2d');
	let chartfour = document.getElementById('chartfour').getContext('2d');
	let chartthree = document.getElementById('chartthree').getContext('2d');

	let barChart = new Chart(chartone, {
		type : 'bar',
		data : {
			labels : ['아침', '점심', '저녁'],
			datasets : [{
				label : '총 먹은 열량',
				data : [
					100,
					200,
					100
				],
				backgroundColor:[
					'red',
					'black',
					'green']
			}]
		},
		options : {
			plugins : {
				title : {
					display : true,
					text : '권장 섭취량',
					fontSize : 16,
					fontColor : 'red',
					position:'bottom'
				}
			}
		}
	});

    let barChartfour = new Chart (chartfour, {
		type : 'bar',
		data : {
			labels : {{labels|safe}},
            datasets : [{
            	label : '최근 3일간 먹은 염분양',
            	data : {{salt_data|safe}},
                backgroundColor : [
                    'red','orange','blue'
                ],
            }],
        },
        options : {
            scales : {
                responsive : true,
                y : {
                    beginAtZero:true
                }
            }
        }
    });

	let barChartthree = new Chart (chartthree, {
		type : 'bar',
		data : {
			labels : {{labels|safe}},
            datasets : [{
            	label : '최근 3일간 먹은 칼로리양',
            	data : {{kcal_data|safe}},
                backgroundColor : [
                    'yellow','green','purple'
                ],
            }],
        },
        options : {
            scales : {
                responsive : true,
                y : {
                    beginAtZero:true
                }
            }
        }
    });

</script>
<!-- 차트 컨텐츠 메뉴바 JS -->
<script>
function openCity(cityName, elmnt, color) {
// Hide all elements with class="tabcontent" by default */

	var i, tabcontent, tablinks;
	tabcontent = document.getElementsByClassName("tabcontent");
  	for (i = 0; i < tabcontent.length; i++) {
    	tabcontent[i].style.display = "none";
  	}

// Remove the background color of all tablinks/buttons

	tablinks = document.getElementsByClassName("tablink");
	for (i = 0; i < tablinks.length; i++) {
    	tablinks[i].style.backgroundColor = "";
  	}

// Show the specific tab content
  document.getElementById(cityName).style.display = "block";

// Add the specific color to the button used to open the tab content
	elmnt.style.backgroundColor = color;
	}

// Get the element with id="defaultOpen" and click on it
	document.getElementById("defaultOpen").click();
</script>
</body>
{% endblock %}