{% extends 'base.html' %}
<!-- zenna -->

{% block content %}
    <link rel="stylesheet" href="/static/css/mobile-index.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
        table *{
            border: 1px purple solid;
        }
    </style>
</head>
<body onload="loadfunction('{{date}}','{{percent.per_kcal}}','{{percent.per_tan}}','{{percent.per_dan}}','{{percent.per_ji}}')">
    <div class="container-fluid zen_back0" id="top">

    <!--	HEADER NAV BAR-->
    {% include 'nav.html' %}
    </div>
    <div class="container-fluid" id="zen-cont">
            <!-- {#       사이드바(모바일 화면일 때) ===============================#} -->
            <div class="flex-column zen_back_mobile row">
                {% include 'topbar.html' %}
                <hr>
            </div>
            <!-- =========================본문  ===============================================-->
            <div class="row">
                <div class="zen_back_main">
                    <!-- 날짜데이터 -->
                    <form action="parameter" enctype="multipart/form-data" class="z-mb-form1">
                        <label for="currentDate" class="zenform1"><strong>Date</strong></label>
                        <input type="date" name="today" id="zen_calender" class="btn zen_calender" onchange="change('{{idx}}')">
                    </form>
                    <hr>
                    <!-- {# 그래프 본문 내용====================== #} -->
                    <div class ="zen-null-background" style="width: 100%;">
                    <div class = "zen-null-main" style="margin: 0 auto;">
                        <i class="fa-solid fa-carrot fa-5x"></i>
                        <br>아직 정보가 없어요!
                        <br>오늘의 식사를 등록 해 주세요
                    </div>
                </div>
            </div>
            <!-- {#       사이드바(PC화면일 때) ===============================#} -->

            <div class="d-flex flex-column zen_back1 zen_back_PC" style="width: 25%;">
                {% include 'sidebar.html' %}
            </div>
            {% include 'floating.html' %}
        </div>

        <!--	FOOTER		-->
        {% include 'footer.html' %}
    </div>
</body>

{% endblock %}
<!-- 0511 test -->
