{% extends 'base.html' %}

{% block content %}
<body onload="loadfunction('{{date}}','{{percent.per_kcal}}','{{percent.per_tan}}','{{percent.per_dan}}','{{percent.per_ji}}')">
<div class="container-fluid" style="margin: 0 auto 0 auto;padding: 0;">

  <!--	HEADER NAV BAR-->
  {% include 'nav.html' %}

        <!-- =========================본문  ===============================================-->
        <div class="row row_with_all">
            <div class="col-lg-8 zen_back1" style="width: 70%;margin-left: 2%;">
                <!-- 날짜데이터 -->
                <form action="parameter" enctype="multipart/form-data">
                    <label for="currentDate" style="font-size: 2em;line-height: 2em;"><strong>Date</strong></label>
                    <input type="date" name="today" id="zen_calender" class="btn zen_calender" onchange="change('{{idx}}')">
                </form>
                <hr>
                <!-- {# 그래프 본문 내용====================== #} -->
                <div style="height: 80%;">
                    <div style="width: 100%;height: 150px;margin: auto;">
                        <table class="table2" style="height: 3em;">
                            <tr>
                                <td class="col-2" style="text-align: center;">
                                    총 섭취량
                                </td>
                                <td class="col-8">
                                    <div class="progress" style="height: 2em;">
                                        <div  id="perkcal" class="progress-bar bg-danger" role="progressbar" style="width: 0%;">{{percent.per_kcal}}</div>
                                      </div>
                                </td>
                                <td class="col-2" style="text-align:right">
                                    {{sums.kcal__sum|floatformat}}/{{ logininfo.recommend_kcal }}
                                </td>
                            </tr>
                        </table>
                        <table class="table2" style="text-align: left;">
                            <tr>
                                <td class="col33" style="padding-left: 0.7em;">
                                    탄수화물
                                </td>
                                <td class="col10"  style="text-align:right;padding-right: 0.5em;">
                                    {{ percent.per_tan }}
                                </td>
                                <td class="col33" style="padding-left: 0.7em;">
                                    단백질
                                </td>
                                <td class="col10"  style="text-align:right;padding-right: 0.5em;">
                                    {{percent.per_dan}}
                                </td>
                                <td class="col33" style="padding-left: 0.7em;">
                                    지방
                                </td>
                                <td class="col10" style="text-align:right;padding-right: 0.5em;">
                                    {{percent.per_ji}}</td>
                            </tr>
                            <tr>
                                <td class="col33" colspan="2">
                                    <div class="progress" style="height: 2em;">
                                        <div  id="pertan" class="progress-bar bg-success" role="progressbar" style="width: 0%;">{{percent.per_tan}}</div>
                                      </div>
                                </td>
                                <td class="col33" colspan="2">
                                    <div class="progress" style="height: 2em;">
                                        <div  id="perdan" class="progress-bar bg-info" role="progressbar" style="width: 0%;">{{percent.per_dan}}</div>
                                      </div>
                                </td>
                                <td class="col33" colspan="2">
                                    <div class="progress" style="height: 2em;">
                                        <div  id="perji" class="progress-bar bg-warning" role="progressbar" style="width: 0%;">{{percent.per_ji}}</div>
                                      </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hr>
                    <div style="width: 100%;height: 250px;margin: auto;" class="row">
                        {% for i in dietlist|slice:":3" %}
                        <div class="col-3">
                            <div class="card shadow-sm">
                                <div class="bd-placeholder-img card-img-top" style="width: 100%; height:10em;" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%"/>
                                    <img src="/media/{{i.foodimage}}" style="object-fit: cover; width: 100%; height: 100%;"/>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{i.time}}</p>
                                    <p class="card-text">{{i.kcal|floatformat}} kcal</p>
                                    
                                </div>
                            </div>
                        </div>
                        
                        {%endfor%}

                        <div class="col-2">
                            <div style="width: 4vw;margin: 5vw auto auto auto;text-align: center;">
                                <a href="#"><img src="/static/picture/moreinfo.png" width="100%" style="object-fit: contain;border-radius: 50%;"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- {#       사이드바 ===============================#} -->
            {% include 'sidebar.html' %}
          
        </div>
    </div>
    <!--	FOOTER		-->
    {% include 'footer.html' %}
</body>

{% endblock %}
