{% extends 'base.html' %}

{% block content %}
<body onload="loadfunction('{{date}}','{{percent.per_kcal}}','{{percent.per_tan}}','{{percent.per_dan}}','{{percent.per_ji}}')">
    <div class="container-fluid" style="margin: 0;padding: 0;">
        <!--	HEADER NAV BAR		-->
        {% include 'nav.html' %}
        <!-- =========================본문  ===============================================-->
        <div class="row row_with_all">
            <div class="col-lg-8 zen_back1" style="width: 70%;margin-left: 2%;">
                <!-- 날짜데이터 -->
                <form action="parameter" enctype="multipart/form-data">
                    <label for="currentDate" style="font-size: 2em;line-height: 2em;"><strong>Date</strong></label>
                    <input type="date" name="today" id="zen_calender" class="btn zen_calender" onchange="change('{{idx}}')">
                </form>
                <hr>
                <!-- {# 그래프 본문 내용====================== #} -->
                <div style="height: 80%;text-align : center;">
                    <div style="width: 50%;height: 150px;margin: 20% auto auto auto;">
                        <i class="fa-solid fa-carrot fa-5x"></i>
                        <br>아직 정보가 없어요!
                        <br>오늘의 식사를 등록 해 주세요
                    </div>
                </div>
            </div>
            <!-- {#       사이드바 ===============================#} -->
            {% include 'sidebar.html' %}
        </div>
    </div>
    <!--	FOOTER		-->
    {% include 'footer.html' %}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>
<script src="/static/js/zen.js "></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js "></script>
<script src="https://rawgit.com/kottenator/jquery-circle-progress/1.2.1/dist/circle-progress.js "></script>

{% endblock %}