<!-- MYPROFILE PAGE SIDE BAR-->
<!--<style>-->
<!-- *{-->
<!-- border:0.5px solid red;}-->
<!--</style>-->
<style>
.kjside1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
}

.kjside2 {
  --grey-color: #7f8c8d;
}

.kjul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.kja {
  text-decoration: none;
}

$menu-link-active-colors: var(--primary-color), var(--info-color),
  var(--success-color), var(--warning-color), var(--danger-color);

.menu-hover-fill {
  .kjli {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: -1rem;
      width: 0.25rem;
      height: 100%;
      background: var(--menu-link-active-color);
      transition: 0.6s;
    }

    .kja {
      --menu-link-color: var(--grey-color);
      position: relative;
      background: linear-gradient(var(--menu-link-active-color) 0 100%) left / 0
        no-repeat;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      transition: background-size 0.45s 0.04s;

      &::before {
        position: absolute;
        content: attr(data-text);
        z-index: -1;
        color: var(--menu-link-color);
      }
    }

    @for $i from 1 through length($menu-link-active-colors) {
      &:nth-child(#{$i}) {
        --menu-link-active-color: #{nth($menu-link-active-colors, $i)};
      }
    }

    &:hover {
      &::before {
        left: calc(100% + 1rem);
      }

      .kja {
        background-size: 100%;
      }
    }
  }
}

</style>
<div class="profile-sidebar" style="border-radius:20px;">

    <!-- SIDEBAR 프로필 사진 -->
    <div id='profile_image' class="profile-userpic" style="height:50%; width:50%; margin:auto;
						transition: width 0.5s ease 0.1s, margin-top 0.5s ease-out 0.1s;">
        <img style="width:100%; height:auto !important; object-fit:cover;
						transition: width 0.5s ease 0.1s, margin-top 0.5s ease-out 0.1s;" src="/static/picture/no_profile.jpg" class="img-responsive" alt="">
    </div>
    <!-- END SIDEBAR 프로필 사진 END -->

    <!-- SIDEBAR USER 회원정보 -->
    <div class="profile-usertitle">
        <div class="profile-usertitle-name">
            <div style="font-size:1.3rem; margin:0.4rem 0.4rem 0 0.4rem;">아이디 : {{ idx }} </div>
        </div>
        <div class="profile-usertitle-job" style="margin-bottom:0;">
            <div style="font-size:1.3rem; margin:0 0.4rem 0.4rem 0.4rem;">날짜 : {{ date }}</div>
        </div>
    </div>
    <!-- END SIDEBAR USER 회원정보 END -->

    <!-- SIDEBAR BUTTONS -->
<!--    <div class="profile-userbuttons" >-->
<!--        <button type="button"  style="margin: 0.5rem 0.5rem 0.5rem auto;" class="btn btn-success btn-sm">Setting</button>-->
<!--        <button type="button"  style="margin: 0.5rem auto 0.5rem 0.5rem;" class="btn btn-danger btn-sm">Message</button>-->
<!--    </div>-->
    <!-- END SIDEBAR BUTTONS -->

    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu" style="margin-top:1rem;">
        <!-- 날짜별 데이터 -->
        <form style='text-align:center;' action="parameter" enctype="multipart/form-data">
            <label for="currentDate" style="font-size:1em; line-height:1.5em;"><strong>날짜별 보기</strong></label>
            <input style='font-size:1rem;'type="date" name="today" id="kj_calender" class="btn zen_calender" onchange="change_cal('{{idx}}')">
        </form>

        <!-- 전체 사진 보기 -->
        <form style='text-align:center;' action="parameter" enctype="multipart/form-data">
        	<label for="currentDate" style="font-size:1em; line-height:1.5em;"><strong>전체 사진</strong></label>
        	<input style='border-radius:5px; font-size:1rem; width:9rem; margin:0.4rem auto 0.4rem 1rem;' type="button" class="zenbtn1" value="전체 사진보기" onClick="location.href='/m/{{idx}}/mypage';" style="cursor:pointer;">
        </form>
<!--        나머지 사이드메뉴 -->

<!--  <ul class="kjul menu-hover-fill flex flex-col items-start leading-none text-2xl uppercase space-y-4">-->
<!--  <li class="kjli"><a class="kja" href="#" data-text="home">home</a></li>-->
<!--  <li class="kjli"><a class="kja" href="#" data-text="archives">archives</a></li>-->
<!--  <li class="kjli"><a class="kja" href="#" data-text="tags">tags</a></li>-->
<!--  <li class="kjli"><a class="kja" href="#" data-text="categories">categories</a></li>-->
<!--  <li class="kjli"><a class="kja" href="#" data-text="about">about</a></li>-->
<!--  </ul>-->

    </div>
</div>
<!-- END SIDE BAR -->