<!-- MYPROFILE PAGE SIDE BAR-->
<div class="profile-sidebar">

    <!-- SIDEBAR 프로필 사진 -->
    <div class="profile-userpic" style="height:15rem; width:15rem; margin:auto;
						transition: width 1s ease 0.2s, margin-top 1s ease-out 0.2s;">
        <img style="width:100%; height:100%; object-fit:cover;
						transition: width 1s ease 0.2s, margin-top 1s ease-out 0.2s;" src="/static/picture/no_profile.jpg" class="img-responsive" alt="">
    </div>
    <!-- END SIDEBAR 프로필 사진 END -->

    <!-- SIDEBAR USER 회원정보 -->
    <div class="profile-usertitle">
        <div class="profile-usertitle-name">
            <div style="font-size:1.3rem; margin:0.4rem 0.4rem 0 0.4rem;">아이디 : {{ idx }} </div>
        </div>
        <div class="profile-usertitle-job" style="margin-bottom:0;">
            <div style="font-size:1.3rem; margin:0 0.4rem 0.4rem 0.4rem;">날짜 : {{ date }}</div>
        </div>
    </div>
    <!-- END SIDEBAR USER 회원정보 END -->

    <!-- SIDEBAR BUTTONS -->
    <div class="profile-userbuttons" >
        <button type="button"  style="margin: 0.5rem 0.5rem 0.5rem auto;" class="btn btn-success btn-sm">Setting</button>
        <button type="button"  style="margin: 0.5rem auto 0.5rem 0.5rem;" class="btn btn-danger btn-sm">Message</button>
    </div>
    <!-- END SIDEBAR BUTTONS -->

    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu" style="margin-top:1rem;">
        <!-- 날짜별 데이터 -->
        <form style='text-align:center;' action="parameter" enctype="multipart/form-data">
            <label for="currentDate" style="font-size:1em; line-height:1.5em;"><strong>날짜별 사진 보기</strong></label>
            <input style='font-size:1.3rem;'type="date" name="today" id="kj_calender" class="btn zen_calender" onchange="change_cal('{{idx}}')">
        </form>

        <!-- 전체 사진 보기 -->
        <form style='text-align:center;' action="parameter" enctype="multipart/form-data">
        	<label for="currentDate" style="font-size:1em; line-height:1.5em;"><strong>전체 사진</strong></label>
        	<input style='border-radius:10%; font-size:1rem; width:9rem; margin:0.4rem auto 0.4rem 1rem;' type="button" class="zenbtn1" value="전체 사진보기" onClick="location.href='/m/'{{idx}}'/mypage'">
        </form>

        <ul class="nav">
            <li>
                <div style="margin:0.3rem;">
                    <input type="button" class="zenbtn1" value="개인 정보 수정하기">
                    <input type="button" class="zenbtn1" value="사진 분석하러가기">
				</div>
			</li>
		</ul>
    </div>
</div>
<!-- END SIDE BAR -->