<!-- zenna : 메인페이지 사이드바 -->
    <div class="zen_side_row">
        <div class="z_side_photo">
            <img class = "zen_side_profile" src="/static/picture/no_profile.jpg" style=""/>
   
        </div>
    </div>
    <hr>
    <div class="zen_side_right">
        <p style="line-height: 1em;"></p>
        <input type="button" class="zenbtn1" value="내 사진 보기" onClick="location.href='/m/{{idx}}/mypage'"/>
        <p style="line-height: 1em;"></p>
        <input type="button" class="zenbtn1" value="나의 건강정보" onClick="location.href='/m/{{idx}}/helthinfo'"/>
        <p style="line-height: 1em;"></p>
        <hr>
        <p style="line-height: 1em;"></p>
        <div class="row zen_side_row" style="width: 100%;margin:auto 3px 30px 3px;">
            <form action="{% url 'analysis_photo:f_fu' %}" class="no_margin" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="file" class="ment">데이터를 업로드하세요!</label>
                <input type="file" name="i_fu" class="upload_button_zen form-control" id="file">
                <input type="hidden" name="idx" value="{{idx}}" />
                <input type="submit" class="zenbtn1 zenbtn83" style="margin-top: 1em " value="사진 찍기/업로드">
            </form>
        </div>
    </div>