<!-- zenna : 메인페이지 사이드바 -->
<div>
    <div  class="zen-top-photo" style="text-align:center;padding: 2.7em 0 !important;">
        <div>프로필사진</div>
    </div>
    <div class="zen_top-buttons" style="text-align:center;margin: 1em;">


        <input type="button" class="zenbtn1" value="내 정보 보기" onClick="location.href='/m/{{idx}}/mypage'"/>
        <div style="height: 10px;"></div>
        <input type="button" class="zenbtn1" value="내 피드 보기"/>
        <div style="height: 10px;"></div>


        <footer class="all-hidden">
            <form action="{% url 'analysis_photo:f_fu' %}" id="form_to_upload" class="no_margin" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="file" class="ment">
                    <img src="/static/picture/camera.png" style="object-fit:contain ;width: 100%;" class="zenbtn5"/>
                </label>
                <input type="file" name="i_fu" onchange="gosubmit()" class="upload_button_zen form-control" id="file" style="display:none">
                <input type="hidden" name="idx" value="{{idx}}" />
                <div style="height: 10px;"></div>
            </form>
        </footer>
    </div>
    
</div>
